---
const currentYear = new Date().getFullYear()
---

<footer
  class="rounded-lg shadow m-4 bg-black/5  dark:bg-black/20 backdrop-blur-lg w-full xl:w-[1280px] mx-auto mb-10"
>
  <div
    class="w-full mx-auto max-w-screen-xl px-4 pt-0 max-sm:pt-6 md:flex md:items-center md:justify-between"
  >
    <span
      class="text-sm sm:text-center  text-green-800/90 dark:text-green-200/90"
      >© {currentYear}
      <a class="hover:underline">Jaime García</a>. Casi
      todos los derechos reservados
    </span>
    <ul
      class="flex flex-wrap items-center mt-2 text-sm font-medium dark:text-white/90 sm:pt-5"
    >
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Sobre mí</a>
      </li>
      <li>
        <a href="#" class="hover:underline">Contacto</a>
      </li>
    </ul>
  </div>
</footer>
