<div class="pill w-[300px]"><slot /></div>

<style>
	.pill {
		display: flex;
		padding: 0.5rem 1rem;
		gap: 0.5rem;
		color: #101820;
		border: 1px solid #a8f238;
		background-color: #a8f238;
		border-radius: 999rem;
		font-size: var(--text-md);
		line-height: 1.35;
		white-space: nowrap;
	}
</style>
